@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@700&display=swap");

::selection {
  background-color: #3bb979;
  color: black;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #3bb979;
  border-radius: 30px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}
